<html>
<body>
        <link rel="stylesheet" href="style.css">
    <h1> 
        <a href="/" style="font-size: 66">Home</a>
        <a href="listall" style="font-size: 66px">List all Tasks</a>
    </h1>

    <form action="/data" method="POST">
        <a style="font-size: 30">TaskName:</style>
        <input type="text" name="TaskName" /> </br>
         <a style="font-size: 30">TaskDue:</style>
        <input type="date" name="TaskDue" /> </br>
        <a style="font-size: 30">TaskDesc:</style>
        <input type="text" name="TaskDesc" /> </br>
        <button>Submit</button>
    </form>

</body>


</html>